@import "color";
@import "mixins";
footer {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    align-items: center;
    p{
        font-size: 15px;
        color: rgba(31, 31, 31, 0.8);
        padding-left: 20px;
    }
    .footer__boton{
        text-decoration: none;
        color: $color-texto2;
        padding: 7px;
        @include transicion;
        margin-right: 20px;

        &:hover{
            background-color:$color-background;
            @include borde-radius;
            color: $color-hover;
        }   
    }

}


@media (max-width: 1000px){
    footer{
        flex-direction:column-reverse;
        p{
            padding: 0%;
        }
    }
}